.Header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px;

    button {
        padding: 20px;
    }

    .navigation {
        padding: 200px;
        background-color: red;
        margin: 20px;
        font-size: 3rem;
    }
}